@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #ffffff;
  max-width: 420px;
  margin: 0 auto;
  padding: 0 0px;
  height: 100vh;
  width: 100vw;
}


@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffffff;
    --foreground: #ffffff;
  }
}

.swal2-close {
  color: #000000 !important;    /* 원하는 색상으로 변경 */
  font-size: 24px !important;   /* 크기 조절 */
  font-weight: 500 !important;
}
.swal2-popup {
  padding: 20px !important;
  border-radius: 20px !important;
  background-color: #F9FAFB !important;
}
.swal2-title {
  text-align: left !important;
  font-size: 22px !important;
  color: #222;
  font-weight: 700;
  padding: 20px !important;
}

.swal2-html-container {
  padding: 20px !important;
  text-align: left !important;
}

.swal2-html-container input::placeholder {
  font-size: 1rem !important;
  color: #aaa !important;
}
@media (max-width: 400px) {
  .swal2-html-container input::placeholder {
    font-size: 0.875rem !important; /* 14px 정도 */
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-user-select: none; /* iOS Safari */
  -moz-user-select: none;    /* Firefox */
  -ms-user-select: none;     /* Internet Explorer/Edge */
  user-select: none;         /* Chrome, Edge, Opera */
  -webkit-touch-callout: none; /* iOS Safari - 길게 눌러 복사 방지 */
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* 스크롤바 숨기기 (모든 브라우저 공통 대응) */
.scrollbar-none::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}

.scrollbar-none {
  -ms-overflow-style: none;  /* IE, Edge */
  scrollbar-width: none;  /* Firefox */
}

